@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    padding:0;
    margin:0;
    box-sizing: border-box;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.navBar{
    background: #fff;
    padding: 20px;
    a{
        display: inline-block;
        margin-right: 10px;
        text-decoration: none;
        color: #222;
    }
}
.textColor{
    color: pink;
}
.title{
    text-align: center;
    margin-top:150px;
}

.titleSub{
    text-align: center;
}

.food{
    margin: 20px auto;
    width:200px;
    background:#fff;
    color:#222;
    padding:20px;
    border-radius: 5px;
}

.cartItem {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    margin-top:20px;
  } 